<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Ibie One Digital Library</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
Template 2031 Green Age
http://www.tooplate.com/view/2031-green-age
-->
<link href="static/site.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

</head>
<body class="homepage">

<div id="tooplate_wrapper">
	<div id="tooplate_header">
    	
        <div id="site_title"><h1><a href="#">Green Age</a></h1></div>
        
        <div class="cleaner"></div>
    </div>
    
    <div id="tooplate_menu">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('catalog') }}">Catalogs</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li class="last"><a href="{{ url_for('register') }}">Register</a></li>
        </ul>    	
        
        <div id="search_box">
            <form action="#" method="get">
                <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
            </form>
        </div>
		
        <div class="cleaner"></div>
    </div> <!-- end of tooplate_menu -->
    
        
    <div id="tooplate_main">
    	
        <div class="col_w960">
        	<h2>Welcome to Ibie1 Digital Lab</h2>
            <div class="col_w450 float_l">
                <div class="wwd_box">
                    <h3><a href="#">The Ibie Digital Learning</a></h3>
                    <p>Welcome to Ibie1 Digital Learning! We provide students all 
                        over the world with everything you 
                        need to study anytime, anywhere. Whether you’re looking for 
                        a distance learning programme to study online at home, or you 
                        want to experience university life on campus, we have 
                        programmes for both. The majority of our programmes are 
                        available fully online with options for part-time studies and 
                        generous scholarships: so, you can find a degree that suits 
                        your learning style and situation. 75,000 students already 
                        study with us—we hope you will too. 
                        <a href="https://www.roducate.com/" target="_parent">Visit our Partner</a> 
                        </p>
                     <a href="#" class="more float_r">More</a>
                    <div class="cleaner"></div>
                </div>
				
                <div class="wwd_box">
            
                    <h3><a href="#">Improving Student Performance</a></h3>
                     <p>This is an online educational institution that focuses on 
                         making educational structures and processes more effective 
                         and efficient across all levels of education in Nigeria, 
                         students follow up with their curriculum electronically, 
                         with a virtual assistant teacher taking them through their 
                         educational experience.</p>
                     <a href="#" class="more float_r">More</a>
                  <div class="cleaner"></div>
                </div>
            </div>
            
            <div class="col_w450 float_r">
              	<div class="wwd_box">
                    <h3><a href="#">Learning Management System</a></h3>
                    <p>is a Learning Management System that provides schools with first class features for remote teaching, and quick and easy assessments along with reports and analysis.
                        The application also provides pre-packaged lesson notes and a bank of well 
                        categorized questions from WAEC, JAMB, IGCSE, BECE, ISPAK, Olympiad and other 
                        curriculums for teachers to use freely with their students.
                    </p>
                     <a href="#" class="more float_r">More</a>
                    <div class="cleaner"></div>
                </div>
				
                <div class="wwd_box">
                    <h3><a href="#">Learn Digital Skills</a></h3>
                    <p>Free online marketing training to get the digital skills you 
                        need to grow your business, your career. Free courses from 
                        in partnership with Google to become a digital expert</p>
                     <a href="#" class="more float_r">More</a>
                  <div class="cleaner"></div>
                </div>
            </div>
            
            <div class="cleaner"></div>
		</div>
    
    	<div class="col_w960 col_w960_last">
        	<h2>Digital Skills</h2>
            <div class="lp_box">
                <h6>Grow with Google</h6>
                <p>Grow with Google offers free training and tools to help you grow 
                    your skills, career, or business. Explore programs and register 
                    for an in-person workshop.</p>
                <a href="#" class="more float_r">More</a>
                    <div class="cleaner"></div>
        	</div>
			
            <div class="lp_box">
                <h6>Literacy Training</h6>
              	<p>Explore a library of free online classes designed to help adults 
                with basic digital skills. Start learning with our digital literacy 
                curriculum today.</p>
                <a href="#" class="more float_r">More</a>
                    <div class="cleaner"></div>
        	</div>
			
			<div class="lp_box lp_box_last">
                <h6>Youth Empowernment programmes</h6>
				<p>Empowering Youth On Life Skill And Decision Making skills
                To empower young people through programming and mobilization in 
                our areas of intervention with</p>
                <a href="#" class="more float_r">More</a>
                <div class="cleaner"></div>
            </div>
			
            <div class="cleaner"></div>
        </div>
        
        <div class="cleaner"></div>
    </div> <!-- end of main -->
        
</div> <!-- end of wrapper -->

<div id="tooplate_cr_wrapper">
	<div id="tooplate_cr">
    	
        Copyright © 2022 <a href="#">Voostech intervention</a> - Ibrahim Abdulkarim 
        <a href="http://192.168.43.220:5000/">Digital Lab</a>
        
    </div> <!-- end of footer wrapper -->
</div> <!-- end of footer -->

</body>
</html>